
.formContainer .contactTitle{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    margin: 10px 80px;
    padding: 20px 0;
}
.containerr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 80px;
  }
  
  .section {
    flex: 1;
    margin: 10px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    height: 520px;
    width: 660px;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
  }
  
  .form-section p{
    direction: rtl;
  }

  .form-section .first-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .form-section .second-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    direction: rtl;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 15px;
  }
  textarea{
    height: 100px;
  }
  
  button[type="submit"] {
    padding: 10px 15px;    
    background-color: #2071B9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  





/* Styles for medium devices (tablets) */
@media (min-width: 780px) and (max-width: 950px) {
    .form-section .first-title{
    font-size: 23px;
  }
  .form-section .second-title{
    font-size: 18px;
  }

  label {
    font-size: 18px;
}
}


@media (min-width: 555px) and (max-width: 779px) {
    .form-section .first-title{
        font-size: 20px;
      }
      .form-section .second-title{
        font-size: 16px;
      }
    
      label {
        font-size: 16px;
    }
}


@media (max-width: 601px) {
    .containerr {
       flex-direction: column;
       align-items: center;
       padding: 20px 0;
       margin: 0;
      }
      .formContainer .contactTitle{
        margin: 10px 40px;
      }

      .containerr .image-section {
        width: 100%;
        margin: 0;
       }
       .containerr .section-image {
        width: 80%;
       }

       .form-section {
        margin: 30px 40px; 
      }
      .form-section .first-title{
        font-size: 16px;
      }
      .form-section .second-title{
        font-size: 13px;
        line-height: 1.5;
      }
    
      label {
        font-size: 13px;
    }
    .section-image {
        
        height: 300px;
      }
}