.ourServicesSection {
    display: flex;
    flex-direction: column;
    align-items:end;
    margin:60px 80px;
  }
  
  .ourServicesSection .top-div {
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .ourServicesSection .section-title {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    text-align: end;
  }
  
.ourServicesSection .cards-container {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 20px;
    width: 100%;
  }
  
  .ourServicesSection .card {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    background-color: #F9FAFB;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    gap: 20px;
    width: 23%;
}
  
  .ourServicesSection .card-image {
    width: 60px;
    height: 60px;
    padding: 12px;
    object-fit: cover;
    background-color: #2071B9;
  }
  
  .ourServicesSection .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-align: right;
  }


  @media (max-width: 1110px) {
    .ourServicesSection .card {
      width: 31%;
  }
  }
  @media (max-width: 700px) {

    .ourServicesSection {
        margin:70px 80px;
      }

      .ourServicesSection .section-title {
        font-size: 30px;
        font-weight: 700;
        
      }
      .ourServicesSection .card-title {
        font-size: 16px;
      }

  }

  @media (max-width: 810px) {
  .ourServicesSection .card {
    width: 100%;
}
}
  
  @media (max-width: 601px) {

    .ourServicesSection {
        margin-right:16px;
        margin-left:16px;
      }

      .ourServicesSection .section-title {
        font-size: 30px;
        font-weight: 700;
      }
      .ourServicesSection .card-title {
        font-size: 16px;
      }

      .ourServicesSection .card {
        width: 100%;
    } 
  }