.ourProductsSection {
    height: 485px;
    margin: 0 80px;
  }
  
  .ourProductsSection .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-bottom: 20px;
 
   /* flex-wrap: wrap; /* Make sure items wrap on small screens */
  }
  
  .ourProductsSection .title {
    font-size: 40px;
    font-weight: bold;
  }
  
  .ourProductsSection .buttons button {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    background-color: #2071B9;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

  }
  
  .ourProductsSection .slider {
    display: flex;
    /*justify-content: space-between;
    flex-wrap: wrap;*/
    /*gap: 20px; /* Add gap between cards */
  }
  
  .ourProductsSection .card {
    text-align: right;
    border-radius: 10px;
    width: 240px;
    height: 400px;
   /* margin: 0 10px;*/
  }
 
  .ourProductsSection .card-image {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    background-color: #EFF2F5;
  }

  .ourProductsSection .card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .ourProductsSection .card-content h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
 .ourProductsSection .card-content p {
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.5;
  }
  
  .ourProductsSection .card-content a {
    padding: 8px 16px;
    margin-top: 15px;
    background-color: #fff;
    color: #2071B9;
    border: 1px solid #2071B9;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  
  .ourProductsSection .card-content a:hover {
    background-color: #0056b3;
    color: #fff;
    transition: ease-in-out 0.2s;
  }

 
  
  
  /* Mobile Devices */
  @media (max-width: 600px) {

    .ourProductsSection {
      margin: 0 40px;
    }
    .ourProductsSection .top-section {
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  
    .ourProductsSection .title {
      font-size: 20px;
    }
  
    .ourProductsSection .buttons {
      display: flex;
      justify-content: space-between;
      width: 74px;      
    }
  
    .ourProductsSection .buttons button {
        height: 32px;
        width: 32px;
        border-radius: 4px;
        background-color: #2071B9;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
    }
  
    .ourProductsSection .slider {
      flex-direction: column;
      align-items: center;
    }
  
    .ourProductsSection .card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* Tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    .ourProductsSection .slider {
        flex-direction: row;
        gap: 24px;
      }
    
      .ourProductsSection .card {
        width: 23%; /* 4 cards per row */
      }
    
      .ourProductsSection .buttons {
        display: flex;
        justify-content: space-between;
        width: 74px;
      
      }
      .ourProductsSection .buttons button {
        height: 32px;
        width: 32px;
        border-radius: 4px;
        background-color: #2071B9;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
      }
  }
  
  /* Desktops */
  @media (min-width: 1025px) {
    .ourProductsSection .slider {
      flex-direction: row;
      gap: 24px;
    }
  
    .ourProductsSection .card {
      width: 23%; /* 4 cards per row */
    }
  
    .ourProductsSection .buttons {
      display: flex;
      justify-content: space-between;
      width: 74px;
    }
  }
  
  