.bannerSection{
    height: 830px;
    background-color: #EFF2F5;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.bannerSectionText{
   padding-top: 72px;
}
.bannerSectionText h3{
    width: 860px;
    height: 125px;
    font-size: 40px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    position: relative;
    z-index: 99;
}

.lineVector img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 0;
    height: 650px;
}

.mainImage{
    width: 80%;
    height: 483px;
    border-radius: 8px;
    position: absolute;
    top: 255px;
}
.leftImage{
    width: 220px;
    height: 260px;
    border-radius: 16px;
    position: absolute;
    top: 500px;
    left: 5%;
}
.rightImage{
    width: 220px;
    height: 280px;
    border-radius: 16px;
    position: absolute;
    top: 390px;
    right: 50px;
}

@media (max-width: 890px){
    .bannerSectionText h3{
        width: 700px;
        height: 125px;
        font-size: 30px;
    }
    .mainImage {
        height: 415px;
        top: 255px;
    }
     .rightImage {
        width: 155px;
        height: 200px;
        top: 211px;
        right: 16px;
    }
    .leftImage {
        width: 155px;
        height: 200px;
        top: 525px;
        left: 16px;
    }
  
}
@media (max-width: 750px){
    .mainImage {
        height: 344px;
        top: 255px;
    }
     .rightImage {
        width: 119px;
        height: 152px;
        top: 211px;
        right: 16px;
    }
    .leftImage {
        width: 141px;
        height: 166px;
        top: 500px;
        left: 16px;
    }
    .bannerSectionText h3 {
        width: 444px;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
    }
    .bannerSection{
        height: 700px;
    }
}
@media (max-width: 525px){
    .mainImage {
        height: 344px;
        top: 255px;
    }
     .rightImage {
        width: 119px;
        height: 152px;
        top: 211px;
        right: 16px;
    }
    .leftImage {
        width: 141px;
        height: 166px;
        top: 500px;
        left: 16px;
    }
    .bannerSectionText h3 {
        width: 385px;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
    }
    .bannerSection{
        height: 700px;
    }
}
@media (max-width: 420px){
   
    .bannerSectionText{
        padding-top: 40px;
     }

     .mainImage {
        height: 344px;
        top: 255px;
    }
     .rightImage {
        width: 119px;
        height: 152px;
        top: 211px;
        right: 16px;
    }
    .leftImage {
        width: 141px;
        height: 166px;
        top: 500px;
        left: 16px;
    }
    .bannerSectionText h3 {
        width: 334px;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
    }
    .bannerSection{
        height: 700px;
    }
}