.footer {
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 27px;
    flex-direction: row-reverse;
  }
  
  .footer-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 700;
  }
  
  .footer-nav a:hover {
    color: #007bff;
  }

  @media (max-width: 600px){
    .footer {
      margin: 20px 16px;
    }
    .footer-logo {
      max-width: 102px;
    }
    .footer-nav a {
     font-size: 20px;
     font-weight: 700;
    }
    .footer-nav a[href="#main"] {
      display: none;
  
     }
     
     .footer-nav ul {
     
      justify-content: space-between;
      gap: 0;
     
    }
    
  }