.footer {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    margin: 20px 0;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  
  .footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: row-reverse;
  }
  
  .footer-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #007bff;
  }

  @media (max-width: 440px){
    .footer-nav ul {
        flex-direction:column;
      }
  }