.footer {
    text-align: right;
    background-color: #fff;
    margin: 20px 80px;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  
  .footerParagraph{
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
  }

  .footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 27px;
    flex-direction: row-reverse;
  }
  
  .footer-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 700;
  }
  
  .footer-nav a:hover {
    color: #007bff;
  }

  @media (max-width: 600px){
    .footer {
      margin: 20px 16px;
    }
    .footer-logo {
      max-width: 102px;
    }
    .footer-nav a {
     font-size: 20px;
     font-weight: 700;
    }
    .footer-nav ul {
      gap: 15px;
  }
  }