.blog{
    margin: 20px 80px;
}
.blog .blogTitle{
    font-size: 36px;
    font-weight: 700;
    text-align: right;
    width: 51%;
    display: block;
    margin-left: auto;
}

.blog .blogCardTitle{
    font-size: 14px;
    font-weight: 700px;
    color: #2071B9;
    margin: 15px 0;
    text-align: end;
}


.blog .blogCards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}

.blog .blogCards .card {
    width: 620px;    
    gap: 24px;
}
.blog .blogCards .card .card-image{
    width: 100%;
    height: 420px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.blog .blogCards .card .card-title{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    text-align: end;
}
.blog .blogCards .card .cardText{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: end;
    margin-bottom: 20px;
}


@media (max-width: 1280px) {
    .blog .blogTitle{
        width: 80%;
    }
   }

   @media (max-width: 850px) {
    .blog{
        margin: 50px 50px;
    }
    .blog .blogTitle{
        font-size: 28px;
        width: 100%;
    }
   }

   @media (max-width: 560px) {
    .blog{
        margin: 50px 16px;
    }
    .blog .blogTitle{
        font-size: 22px;
    }

    .blog .blogCards{
        flex-direction: column;
    }
    
    .blog .blogCards .card {
      width: 100%;    
     }

     
.blog .blogCards .card .card-title{
    font-size: 22px;
   }

}


   